<section id="header">
  <div class="container">
    <div id="logo">
      <div class="pull-left">
        <a href="https://aerobase.us"
          ><img
            src="/images/logo.png"
            id="logoimg"
            style="max-height: 105px; width: auto"
            alt="AeroBase Group, Inc."
        /></a>
      </div>
      <div id="main_nav">
        <div class="pull-right margin-bottom">
          <i class="fa fa-phone"></i>&nbsp;&nbsp;1 (321) 802-5889
        </div>
        <form action="/nsn" method="post" name="mainSearchForm">
          <ul class="list-plain list-left">
            <li>
              <input
                type="text"
                value=""
                class="pull-left input-md form-control input-abg"
                placeholder="Search for nsn .."
                name="term"
                id="global_search"
              />
            </li>
            <li>
              <button type="submit" class="btn btn-md btn-abg pull-left">
                Search
              </button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</section>
